<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>Представьтесь, пожалуйста</title>
  </head>
  <body>
    <p>Hello, {{name}}!</p>

    <p>Method used: {{method}}</p>

    <form action="/name" method="POST">
      <input type="text" value="{{name}}" name="name" />
      <input type="submit" value="Мне нужно имя!">
    </form>

    <form action="/name" method="POST">
      <input type="text" value="{{name}}" name="name" />
      <input type="submit" value="Как к вам обращаться?">
    </form>
  </body>
</html>
