<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <title>Что по поступлению?</title>
  </head>
  <body>
    <p>Hello, {{name}}!</p>

    <p>Method used: {{method}}</p>

    <form action="/name" method="GET">
      <input type="text" value="и снова {{name}}" name="name" />
      <input type="submit" value="Хочешь поступить?">
    </form>

    <form action="/name" method="POST">
      <input type="text" value="и снова {{name}}" name="name" />
      <input type="submit" value="Хочешь устроиться?">
    </form>
  </body>
</html>
